* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.lemons {
  background-image: url("../assets/lemons-lp.png");
  background-size: cover;
}

.berries {
  background-image: url("../assets/berries-lp.png");
  background-size: cover;
}

.btn-landing {
  background-color: #ee6a6a;
  border: 1px solid #ff6464;
  color: white;
}

.btn-landing:hover {
  background-color: #f45b5b;
  border-color: #df8989;
  color: white;
}

.img-logo {
  width: 80px;
}

.img-logo-center {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  width: 160px;
  /* Need a specific value to work */
}

.row-landing {
  min-width: 100vw;
  min-height: 40%;
}