.navbar {
    padding: 0;
}

.container-fluid {
    background-color: #FF6464;
    height: 72px;
    padding: 0;
}

.navbar-brand {
    color: #FFF;
}

.fixed-bottom {
    height: 72px;
    padding: 0;
    background-color: #FF6464
}