.img-style {
  height: 214px;
  width: 100%;
}

.button-style,
.button-style:active,
.button-style:focus {
  background-color: #80ac73 !important;
  border-color: #80ac73 !important;
  outline: none;
  box-shadow: none;
}

.center {
  overflow: hidden;
  transform: translate(50%, -50%);
  background-color: #393737;
  border-radius: 15px;
  box-sizing: border-box;
}

.card-container {
  max-width: 280px;
  min-width: 230px;
  margin-left: 3%;
}

@media screen and (max-width: 430px) {
  .card-container {
    margin-left: 15%;
  }
}

@media screen and (max-width: 769px) and (min-width: 431px) {
  .card-container {
    margin-left: -5%;
  }
}
