.FormContainer {
  width: 500px;
  height: 500px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.FormModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
